.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px minmax(400px,500px) 1300px 50px;
}

.header{
  grid-column: 1;
  grid-row: 1;
}

.navbar{
  grid-column: 1;
  grid-row: 2;
}

.body{
  grid-column: 1;
  grid-row: 3;
}

.footer{
  grid-column: 1;
  grid-row: 4;
}